<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace= "~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">샘플 게시판 (Modify)</h1>

        <form action="/board/modify" method="post"> <!-- 추가된 form 태그 -->

        <!-- 수정이 완료된 후에도 다시 동일한 정보를 유지할 수 있도록(세트) , form 태그 안에 추가해서 전달 -->
            <!-- 수정 후 조회페이지로 이동시 현재 검색조건을 기억하기 위해 type과 keyword를 추가함.-->
        <input type="hidden" name="page" th:value="${requestDTO.page}">
        <input type="hidden" name="type" th:value="${requestDTO.type}">
        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

        <div class="form-group">
            <label>Bno</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly > <!-- 수정 불가 -->
        </div>

        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" > <!-- 수정 가능 -->
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="5" name="content" > [[${dto.content}]]</textarea> <!-- 수정 가능 -->
        </div>

        <div class="form-group">
            <label >Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writer.email}" readonly > <!-- 수정 불가 -->
        </div>

        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
    </form>

        <!-- read와 거의 같지만 기능처리 버튼이 3개 -->
        <button type="button" class="btn btn-primary modifyBtn">modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>

    </th:block>
</th:block>

<script th:inline="javascript">

    // 수정버튼
    $(".modifyBtn").click(function() {

        if(!confirm("수정하시겠습니까?")){
            return ;
        }

        actionForm
            .attr("action", "/board/modify")
            .attr("method", "post")
            .submit();
    });

    // 목록버튼 : 목록페이지로 이동하는 경우에는 page와 같은 파라미터 외에 다른 파라미터들은 별도로 필요하지 않음.
    $(".listBtn").click(function () {

        //var pageInfo = $("input[name='page']");
        var page = $("input[name='page']");
        var type = $("input[name='type']");
        var keyword = $("input[name='keyword']");

        actionForm.empty(); // form 태그의 모든 내용 삭제

        actionForm.append(page); // 빈 form태그에 목록 페이지 이동에 필요한 내용을 추가
        actionForm.append(type);
        actionForm.append(keyword);

        actionForm
            .attr("action", "/board/list")
            .attr("method", "get"); // 목록 페이지로 이동하도록

        //console.log(actionForm.html()); // 먼저 확인 후 주석 처리
        actionForm.submit(); // 확인 후 주석 해제

    });


    // 삭제버튼 (잘 모르겠다.)
    var actionForm = $("form"); // form 태그 내 input 태그에서 bno 추출후 이용

    $(".removeBtn").click(function (){

        actionForm
            .attr("action", "/board/remove") // 위 주소로 들어가서 (controller에서 찾아봐바)
            .attr("method", "post"); // 메서드 post.

        actionForm.submit();

    });



</script>

